@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Formulario de Contacto</title>
    <link href="~/Content/css/contacto.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Encabezado") <!-- Incluir encabezado -->

    <section>
        <div class="formulario">
            <h2>RESERVAR CITA</h2>
            @using (Html.BeginForm("EnviarCorreo", "Home", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="text" placeholder="Nombre" name="nombre" id="nombre" required>
                <input type="text" placeholder="Telefono" name="telefono" id="telefono" required>
                <input type="email" placeholder="Correo" name="correo" id="correo" required>
                <input type="text" placeholder="Asunto" name="asunto" id="asunto" required>
                <textarea cols="30" rows="10" placeholder="Mensaje" name="mensaje" id="mensaje" required></textarea>
                <input type="submit" id="enviar" value="Enviar" class="boton">
            }
        </div>
    </section>

    @Html.Partial("PiePagina") <!-- Incluir pie de página -->
</body>
</html>

