<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>THIAGO-Inversiones e Inmobiliaria</title>
    <link rel="stylesheet" href="~/Content/css/pie-pagina.css">
    <link rel="icon" type="image/png" href="~/Content/img/logo.png">
    <script src="https://kit.fontawesome.com/3a40882597.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer class="footer">
        <div class="footer__addr">
            <img src="~/Content/img/logo.png" width="200" />
            <h2>Puedes encontrarnos en nuestras oficinas</h2>

            <address>
                Villa Caplina 2da Etapa Mzn B lot 23<br>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Redes Sociales</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100064082163295" target="new"><i class="fa-brands fa-square-facebook"></i> Facebook </a>
                    </li>

                    <li>
                        <a href="mailto:example@gmail.com" target="new"><i class="fa-solid fa-envelope"></i> thiago-inmb@gmail.com</a>
                    </li>

                    <li>
                        <a href="#" target="new"><i class="fa-solid fa-phone"></i> +51 952 685 638</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Inmobiliaria</h2>

                <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="index.cshtml" target="new">Inicio</a>
                    </li>

                    <li>
                        <a href="nosotros.cshtml" target="new">Nosotros</a>
                    </li>

                    <li>
                        <a href="catalogo.cshtml" target="new">Catálogo</a>
                    </li>

                    <li>
                        <a href="contacto.cshtml" target="new">Contáctenos</a>
                    </li>

                    <li>
                        <a href="https://goo.gl/maps/Nz9KhVN5SGmkV8fh7" target="new">Ubicación</a>
                    </li>

                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Legal</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Política de privacidad</a>
                    </li>

                    <li>
                        <a href="#">Términos de uso</a>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2024 Todos los derechos reservados.</p>

            <div class="legal__links">
                <span>Inversiones e Inmobiliaria - Thiago</span>
            </div>
        </div>
    </footer>
</body>
</html>

