<link href="~/Content/css/slider-estilo.css" rel="stylesheet" />
<script src="~/Content/js/slider.js"></script>

<div class="splitview skewed">
    <div class="panel bottom">
        <div class="content">
            <div class="description">
                <h1>Terrenos en venta</h1>
                <p>Excelente oportunidad de poder asegurar su lote a un precio muy accesible al bolsillo</p>
            </div>
            <img src="~/Content/img/TerrenoSlider.jpg" alt="Terrenos en venta" width="100" height="720">
        </div>
    </div>
    <div class="panel top">
        <div class="content">
            <div class="description">
                <h1>Casas en venta</h1>
                <p>Casas con título de propiedad... Ven a conocer en familia, contamos con excelentes ubicaciones</p>
            </div>
            <img src="https://i.pinimg.com/564x/44/39/5a/44395a1e0f4a799d18be051faf6a50d5.jpg" alt="Casas en venta" width="100" height="720">
        </div>
    </div>
    <div class="handle"></div>
</div>

