@model List<Sistema_Inmobiliaria.Models.roles>
@{ ViewBag.Title = "Index"; }

<center><h1>Gestionar Roles</h1></center>
<h2 class="card-header"><a href="~/Roles/AgregarEditar/" class="btn btn-secondary">Crear Nuevo Rol</a> <br /><br /></h2>

<table id="HyV" class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:150px">Nombre</th>
            <th style="width:200px">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
<tr>
    <th>@(m.codrol)</th>
    <th>@(m.descripcion)</th>
    <th>
        <a href="~/Roles/AgregarEditar/@m.codrol" class="btn btn-sm btn-primary">Modificar</a>
        <a onclick="return confirm('¿Esta seguro de eliminar el registro?');" href="~/Roles/Eliminar/@m.codrol" class="btn btn-sm btn-danger">Eliminar</a>

    </th>
</tr>
}
    </tbody>

</table>


